@font-face {
  font-family: "Gilroy";
  src: url("./assets/fonts/Gilroy-Medium.eot");
  src: url("./assets/fonts/Gilroy-Medium.eot?#iefix") format("embedded-opentype"),
  url("./assets/fonts/Gilroy-Medium.woff2") format("woff2"),
  url("./assets/fonts/Gilroy-Medium.woff") format("woff"),
  url("./assets/fonts/Gilroy-Medium.ttf") format("ttf"),
  url("./assets/fonts/Gilroy-Medium.svg#Gilroy-Medium") format("svg");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("./assets/fonts/Gilroy-SemiBold.eot");
  src: url("./assets/fonts/Gilroy-SemiBold.eot?#iefix") format("embedded-opentype"),
  url("./assets/fonts/Gilroy-SemiBold.woff2") format("woff2"),
  url("./assets/fonts/Gilroy-SemiBold.woff") format("woff"),
  url("./assets/fonts/Gilroy-SemiBold.ttf") format("ttf"),
  url("./assets/fonts/Gilroy-SemiBold.svg#Gilroy-SemiBold") format("svg");
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: "Gilroy";
  src: url("./assets/fonts/Gilroy-Light.eot");
  src: url("./assets/fonts/Gilroy-Light.eot?#iefix") format("embedded-opentype"),
  url("./assets/fonts/Gilroy-Light.woff2") format("woff2"),
  url("./assets/fonts/Gilroy-Light.woff") format("woff"),
  url("./assets/fonts/Gilroy-Light.ttf") format("ttf"),
  url("./assets/fonts/Gilroy-Light.svg#Gilroy-Light") format("svg");
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: "Gilroy-Black";
  src: url("./assets/fonts/Gilroy-Black.eot");
  src: url("./assets/fonts/Gilroy-Black.eot?#iefix") format("embedded-opentype"),
       url("./assets/fonts/Gilroy-Black.woff2") format("woff2"),
       url("./assets/fonts/Gilroy-Black.woff") format("woff"),
       url("./assets/fonts/Gilroy-Black.ttf") format("ttf"),
       url("./assets/fonts/Gilroy-Black.svg#Gilroy-Black") format("svg");
  font-style: normal;
  font-weight: 900;
}

@font-face {
  font-family: "Gilroy-Bold";
  src: url("./assets/fonts/Gilroy-Bold.eot");
  src: url("./assets/fonts/Gilroy-Bold.eot?#iefix") format("embedded-opentype"),
       url("./assets/fonts/Gilroy-Bold.woff2") format("woff2"),
       url("./assets/fonts/Gilroy-Bold.woff") format("woff"),
       url("./assets/fonts/Gilroy-Bold.ttf") format("ttf"),
       url("./assets/fonts/Gilroy-Bold.svg#Gilroy-Bold") format("svg");
  font-style: normal;
  font-weight: 700;
}
